@import "../../variables";
@import "~bulma/bulma";

footer {
  background: url("../../assets/welcome.png");
  color: white;
  height: $footer-height;

  .icons i {
    font-size: $size-3;
    border-radius: 24px 24px 24px 0;
    border: 1px solid ghostwhite;
    padding: 10px;
    margin: 5px;

    &:hover {
      box-shadow: 1px 1px 1px 1px lightgray;
    }
  }
}


