@import "../../variables";


.card {
  cursor: pointer;
  border: $border-color;
  padding: 40px;
  border-radius: $special-border-radius;
  transition-duration: 700ms;
  margin: 20px;

  i {
    color: $secondary-color;
    font-size: 2.2rem;
  }

  h1 {
    text-align: center;
    color: $primary-color;
    font-size: $size-4;
    font-weight: $weight-medium;
  }

  &:hover {
    box-shadow: 2px 2px 2px 2px lightgray;
  }
}

.card-content {
  padding: 5px;
  color: $text-color;
  font-weight: $weight-medium;

}
