@import "../../variables";
@import "~bulma/bulma";

.card {
  border-radius: 24px 24px 24px 0;
  border: 2px solid ghostwhite;
  padding: 20px;

  i {
    color: $secondary-color;
    font-size: 2.3rem;
  }

  h1 {
    text-align: center;
    color: $primary-color;
    font-size: $size-4;
    font-weight: $weight-medium;
  }

  &:hover {
    box-shadow: 2px 2px 2px 2px lightgray;
  }
}

