@import "../../variables";
@import "~bulma/bulma";

.field {

  h1 {
    color: $primary-color;
    font-size: $size-3;
  }

  hr {
    border: 0;
    height: 2px;
    width: 350px;
    background-image: linear-gradient(to right, rgba(2, 0, 0, 0), rgb(251, 57, 125), rgba(0, 0, 0, 0));
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form {

    .input, .textarea {

      &:hover {
        border: 2px solid $secondary-color;
      }
    }

    .control {
      margin: 20px;
    }
  }

  .contact-info {

    i {
      color: $primary-color;
      margin: 10px;
      font-size: $icon-dimensions-medium;
    }

    li {
      color: $secondary-color;
    }
  }
}





