@import "../../variables";

.wrapper {
  border-radius: 10px;
  border: 2px solid lightgray;
  background: url("../../assets/stripes-light.png");
  max-width: 75% ;
  padding: 20px;
}

h1 {
  font-size: $size-4;
  padding: 20px;
  color: $secondary-color;

}