<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths subscribe-form">
                <div class="field">
                    <div class="control">
                        <input [(ngModel)]="firstName" class="input is-rounded is-primary" type="text"
                               placeholder="Prénom">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input [(ngModel)]="lastName" class="input is-rounded is-primary" type="text" placeholder="Nom">
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input [(ngModel)]="email" class="input is-rounded is-primary" type="email"
                               placeholder="Adresse e-mail">
                        <span class="icon is-small is-left">
                     <i class="fas fa-envelope"></i>
                     </span>
                    </div>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input [(ngModel)]="password" class="input is-rounded is-primary" type="password"
                               placeholder="Mot de passe">
                        <span class="icon is-small is-left">
                     <i class="fas fa-lock"></i>
                     </span>
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox">
                            J'accepte les <a>termes et conditions</a>
                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button (click)="onSubmit()">S'inscrire</button>
                    </div>
                </div>
            </div>
            <div class="column subscribe-image">
                <h1 class="has-text-centered">S'inscrire est rapide et facile !</h1>
                <img src="../../assets/office.svg" alt="bureau">
            </div>
        </div>
    </div>
</div>




