@import "../../variables";

nav {
  font-size: 0.9rem;
  background: linear-gradient(to right, #5E57EA, #814DE0);

  .navbar-brand img {
    margin: 15px 15px 15px 100px;
    width: 80px;
    height: 80px;
  }

  .navbar-menu {
    margin-top: 5px;
    margin-right: 50px;
    margin-left: auto;
    flex-grow: 0;
  }

  .navbar-item {
    padding: 13px;
    margin: 25px;
    color: white;

    &:hover {
      background-color: transparent;
      color: $secondary-color;
    }
  }

  .special-border {
    border-radius: 24px 24px 24px 0;
    border: 2px solid #A865E1;

    &:hover {
      background-color: $secondary-color;
      color: white;
      transition: 0.5s ease;
    }
  }

  .is-active {
    background-color: whitesmoke;
    color: $primary-color;

    display: inline-block;
    float: right;
    border-radius: 24px 24px 24px 0;
    border: 2px solid $primary-color;

    a {
      color: $primary-color;
      margin: 10px;
    }

  }

}

