@import "../../variables";

nav {
  font-size: 0.9rem;
  background: url("../../assets/header-img.svg");

  .navbar-brand img {
    position: relative;
    left: 100px;
    width: 100px;
    height: 100px;
  }

  .navbar-menu {
    margin-left: auto;
    flex-grow: 0;
  }

  .navbar-item {
    font-weight: $weight-medium;
    padding: 10px;
    margin: 25px;
    color: $secondary-color;

    &:hover {
      background-color: transparent;
      text-decoration: line-through;
    }
  }

  .special-border {
    border-radius: 24px 24px 24px 0;
    border: 2px solid #A865E1;

    &:hover {
      background-color: $secondary-color;
      color: white;
      transition: 0.5s ease;
      text-decoration: none;
    }
  }

  .is-active {
    background-color: whitesmoke;
    color: $primary-color;

    display: inline-block;
    float: right;
    border-radius: 24px 24px 24px 0;
    border: 2px solid $primary-color;

    a {
      color: $primary-color;
      margin: 10px;
    }

  }

}

