
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/logonouveau.png" width="150" height="90" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <form>
     <button class="btn btn-outline-primary m-2" type="submit" routerLink="devenir-client">Devenir client</button>
      <button class="btn btn-outline-primary m-2" type="submit" routerLink="acces-client">Accès client</button>
    </form>
  </div>
</nav>
