
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/logonouveau.png" width="140" height="80" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form>
     <button class="btn btn-outline-primary m-2" type="submit" routerLink="devenir-client">Devenir client</button>
      <button class="btn btn-outline-primary m-2" type="submit" routerLink="acces-client">Accès client</button>
    </form>
  </div>
</nav>
