<nav class="navbar">
    <div class="navbar-brand">
        <img src="../../assets/navlogo2.svg" alt="">
        <a (click)="menuIsOpen = !menuIsOpen" class="navbar-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div [class.is-active]="menuIsOpen" class="navbar-menu is-active">
        <a class="navbar-item" routerLink="accueil">
            ACCUEIL
        </a>
        <a class="navbar-item" routerLink="/produit">
            SERVICES BANCAIRES
        </a>
        <a class="navbar-item" routerLink="/contact">
            CONTACT
        </a>
        <ng-container *ngIf="!loggedIn; else loggedInInfo">
            <a class="navbar-item special-border" routerLink="/inscription">
                INSCRIPTION
            </a>
            <a class="navbar-item special-border" routerLink="/connexion">
                CONNEXION
            </a>
        </ng-container>
        <ng-template #loggedInInfo>
            <a class="navbar-item special-border" routerLink="/compte">
                Mon Compte
            </a>
            <a class="navbar-item special-border" (click)="logout()">
                <i class="fas fa-power-off"></i>
            </a>
        </ng-template>
    </div>
</nav>