<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third content-image">
                <img src="../../assets/sign-up-logo.svg" alt="">
            </div>

            <div class=" column content-list">
                <h1>Pourquoi les clients de ECCBank aiment nos comptes ?</h1>
                <ul>
                    <li class="hvr-icon-pulse"><i class="fas fa-check-square fa-border hvr-icon"></i>
                        Consulter votre solde, votre limite de crédit et le crédit restant de votre Marge de Crédit
                        EBank®
                    </li>

                    <li class="hvr-icon-pulse"><i class="fas fa-check-square fa-border hvr-icon"></i>
                        Consulter votre compte partout et en tout temps grace a notre application mobile
                    </li>
                    <li class="hvr-icon-pulse"><i class="fas fa-check-square fa-border hvr-icon"></i>
                        Demander une augmentation de la limite de crédit est simple et rapide
                    </li>
                    <li class="hvr-icon-pulse"><i class="fas fa-check-square fa-border hvr-icon"></i>
                        Demander un nouveau prêt personnel, un nouveau prêt-auto, une nouvelle Marge de Crédit Ebank
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

