@import "../../variables";
@import "~bulma/bulma";

.content-list {

  h1 {
    font-size: $size-3;
    color: $primary-color;
    font-weight: $weight-medium;
  }

  ul {
    margin-top: 20px;
  }

  li {
    font-size: $size-6;
    padding: 10px;
  }

  i {
    color: $primary-color;
    font-size: $size-4;
  }
}