<app-account-navbar></app-account-navbar>
<section class="section">
    <div class="container wrapper">
        <h1 class="has-text-centered">Effectuer un paiement</h1>
        <h2 class="has-text-centered">Choisir le fournisseur</h2>
        <div class="provider-list">
        <a [ngClass]="{selected: provider === selectedProvider}"
           class="provider"
           *ngFor="let provider of providers | async"
           (click)="selectedProvider=provider">
            {{ provider}}
        </a>
        </div>

        <br>

        <input [(ngModel)]="amount"
               class="input"
               type="number"
               name="amount"
               placeholder="Indiquer le montant a déposer">
        <button (click)="payBills()">ENVOYER</button>
    </div>
</section>