@import "../../variables";

.wrapper {
  border-radius: 10px;
  border: 2px solid lightgray;
  background: url("../../assets/stripes-light.png");
  width: 70% ;
  padding: 20px;
}

h1 {
  font-size: $size-4;
  color: $secondary-color;
}

h2 {
  font-size: $size-5;
  margin-bottom: 50px;
}

.provider {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    background-color: white;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.provider-list {
  display: flex;

  justify-content: center;
}

a.selected {
  background-color: #fb397d;

}