/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bulma/bulma";
@import "~hover.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: Quicksand;
}

html {
  position: relative;
  min-height: 100vh;
}

button {
  cursor: pointer;
  border-radius: 45px;
  border-color: #fb397d;
  padding: 10px;
  color: $secondary-color;
  background-color: white;

  &:hover {
    background-color: $secondary-color;
    color: white;
    transition: 0.3s ease;
    text-decoration: none;
  }
}
