$primary-color: #882cd6;
$secondary-color: #fb397d;
$background-color:#fafafa;
$footer-height: 120px;
$primary: $primary-color;
$text-color: #7a7a7a;
$border-color: 1px solid #eff2f6;
$special-border-radius: 40px 40px 40px 0;

@import "~bulma/sass/utilities/all";

