<app-home-page-header></app-home-page-header>

<app-card title="Pourquoi faire affaire avec ECC Bank ?">
  Nous offrons divers produits et services comme des comptes personnels <br>
  et des placements pour simplifier la gestion de vos finances.
</app-card>

<div class="flex-row flex justify-content-around">
  <app-card title="Services bancaires efficaces" icon="laptop">
    Nous offrons divers produits et services comme des comptes personnels <br>
    et des placements pour simplifier la gestion de vos finances.
  </app-card>

  <app-card title="Accès à plus de 3 500 guichets" icon="money-check">
    Nous offrons divers produits et services comme des comptes personnels <br>
    et des placements pour simplifier la gestion de vos finances.
  </app-card>
</div>



