<app-home-page-header></app-home-page-header>
<hr>
<app-card icon="mobile" title="Services bancaires efficaces">Vous pouvez gérer vos affaires bancaires comme bon vous semble,<br> que ce soit en ligne, en succursale et au
  téléphone</app-card>


<app-card icon="money-check" title="Accès à plus de 3 500 guichets">Payer pour accéder à votre argent est injuste. Vous pouvez retirer <br>votre argent sans frais partout au
  pays avec nos guichets</app-card>

<app-card icon="home" title="Accès à plus de 3 500 guichets">Payer pour accéder à votre argent est injuste. Vous pouvez retirer <br>votre argent sans frais partout au
  pays avec nos guichets</app-card>

<app-footer></app-footer>

