@import "../../variables";
@import "~bulma/sass/utilities/mixins";

.header {
  top: 0;
  width: 100%;
  position: absolute;
  height: inherit;
  z-index: -1;
  background: url("../../assets/welcome.png");
  background-size: cover;


  .header-body {
    h1 {
      left: 15%;
      font-size: 7.5rem;
      position: absolute;
      top: 35%;
      color: white;
    }

    h2 {
      left: 25%;
      font-size: 1.3rem;
      position: absolute;
      top: 52%;
      color: white;
    }

    img {
      position: absolute;
      top: 55%;
      right: 15%;
      width:550px;
      height: auto;
    }
  }
}



