@import "../../variables";

.single-account {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  box-shadow: 1px 2px 2px 1px #DDDDDD;

  &:hover {
    box-shadow: 1px 2px 2px 1px $secondary-color;
  }

  .first-line {
    font-weight: bolder;

    i {
      color: $secondary-color;
      font-size: $size-4;
      padding: 10px;
    }
  }

  .account-name {
    margin-left: 10px;
  }

  .account-money {
    margin-right: 20px;
    float: right;
  }
}

button {
  margin-top: 5px;
  margin-right: 10px;
  float: right;

  &:hover {
    border: 1px solid  #fb397d;
  }
}
