@import "../../variables";

.single-account {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;

  .first-line {
    font-weight: bolder;

    i {
      color: $secondary-color;
      font-size: $size-4;
      padding: 10px;
    }
  }

  .account-name {
    margin-left: 40px;
  }

  .account-money {
    margin-right: 20px;
    float: right;
  }
}
